@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --navy-blue: #394f63;
  --light-grey: #e7e9ec;
  --dark-grey: #758e9d;
  --mid-blue: #3fa9e2;
  --black: #3c3c3c;
}

body {
  color: var(--black);
}

/* FORM INPUTS STYLING */
.input-group__text {
  display: flex;
  flex-direction: column;
  padding: 2px 0 2px 0;
}

.input-group__text input {
  border: 1px solid grey;
  padding: 2px;
  border-radius: 3px;
}

input[type=number] { 
  -moz-appearance: textfield;
  appearance: textfield;
  margin: 0; 
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button { 
      -webkit-appearance: none; 
      margin: 0; 
}

/* PREVIEW CARD STYLING */
.card-info__grid {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
}

.card-info__border {
  border-bottom: 1px solid var(--light-grey);
}

.card-info__main-fields {
  border-bottom: 1px solid var(--light-grey);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.card-info__label {
  font-size: 0.75rem;
  place-self: end start;
}

.card-info__content {
  place-self: end start;
}

.card-info__content--main {
  place-self: end start;
  grid-column-start: 2;
  grid-column-end: 6;
}